---
# Source: redpanda-operator/charts/kube-prometheus-stack/templates/exporters/kube-proxy/servicemonitor.yaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redpanda-operator-kube-pro-kube-proxy
  namespace: redpanda-system
  labels:
    app: kube-prometheus-stack-kube-proxy
    
    chart: kube-prometheus-stack-13.13.1
    release: "redpanda-operator"
    heritage: "Helm"
spec:
  jobLabel: jobLabel
  selector:
    matchLabels:
      app: kube-prometheus-stack-kube-proxy
      release: "redpanda-operator"
  namespaceSelector:
    matchNames:
      - "kube-system"
  endpoints:
  - port: http-metrics
    bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
