kind: Secret
apiVersion: v1
metadata:
  name: jaeger-scylla
  namespace: observability
type: Opaque
data:
  CASSANDRA_USERNAME: {{ credentials.jaeger_scylla.username | b64encode }}
  CASSANDRA_PASSWORD: {{ credentials.jaeger_scylla.password | b64encode }}