kind: Secret
apiVersion: v1
metadata:
  name: jaeger-redpanda
  namespace: observability
type: Opaque
data:
  KAFKA_USERNAME: {{ credentials.jaeger_redpanda.username | b64encode }}
  KAFKA_PASSWORD: {{ credentials.jaeger_redpanda.password | b64encode }}